<!-- Shout Outs -->
<section class="slider">
    <ul class="slides">
        <li>
            <img src="https://annieshavens.ca/images/slider-image-1-2.jpg" alt="About Foster Parent Danny">
            <div class="caption center-align">
                <h2>Danny</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-med-and-down">I never know foster parenting would change me. Forever grateful to help kids in need.</h5>
            </div>
        </li>
        <li>
            <img src="https://annieshavens.ca/images/slider-image-2-2.jpg" alt="About Foster Parent Paul">
            <!-- random image -->
            <div class="caption left-align">
                <h2>Paul</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-med-and-down">My reward greets me every morning - sometimes with a smile. Always worth it.</h5>
            </div>
        </li>
        <li>
            <img src="https://annieshavens.ca/images/slider-image-3-2.jpg" alt="About Foster Parent Jessica">
            <!-- random image -->
            <div class="caption right-align">
                <h2>Jessica</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-med-and-down">Fostering has it's challenges but I would never stop. This is my calling.</h5>
            </div>
        </li>
    </ul>
</section>
<!-- End Shout Outs -->

{{> page-header}}
<!-- About Us Blurb -->
<article class="container">
    <div class="row">
        <div class="col s12 m4 video-wrapper">
            <video controls preload="none" poster="https://annieshavens.ca/annie.jpg">
                <source src="https://annieshavens.ca/video/annie-wilson.mp4" type="video/mp4">
            </video>
            <div class="video-text">
                <p class="video-title">Annie Wilson</p>
                <p class="video-subtitle">1985 - 1997</p>
            </div>
        </div>
        <div class="col s12 m8">
            <h3>Personal History</h3>
            <p>There is a personal background and history with our agency which makes our program very special.</p>
            <p>William and Hilda Wilson, the founders of Annie's Havens, have an intimate knowledge of the challenges inherent in caring for a child with special needs
                because of a personal tragedy that befell their family in 1989. William and Hilda&#8217;s daughter, Annie, suffered
                from a cerebral haemorrhage during surgery. As a consequence of this she was left with severe quadra paresis.
                They embarked on learning and doing everything possible to have Annie regain, what she could, of her physical
                abilities. Annie was an intelligent child who was able to communicate through use of her right arm and the
                blinking of her eyes and/or with the use of a programmable verbal switch. They advocated for and successfully
                accomplished Annie&#8217;s integration into her local school in which she did extremely well at an age appropriate
                level.</p>
            <p>Through this experience and the day-to-day problems William and Hilda encountered in providing Annie with her
                special needs, they acquired a vast body of knowledge. They also came to command great respect from professionals
                and leaders in the field while accessing medical, therapeutic and educational services as well as developing
                strong advocacy skills. With these skills in hand, along with the experience in working with children with
                special needs since 1988, William and Hilda decided to fill a need in the community for respite and residential
                services for children and adults.</p>
            <p>They have provided foster care to a large number of children with special needs in Eastern and Southern Ontario
                since the mid-nineties. Because of Annie, her brother Chris who works at Annie&#8217;s Havens, has a background
                of deep understanding of special needs care along with an unbreakable emotional attachment. Sadly, Annie
                passed away in 1997 but she inspired everyone who came in contact with her and her life – and this resulted
                in one of Ontario&#8217;s most unique and meaningful foster care programs.</p>
            <p>Our agency, Annie&#8217;s Havens Ltd. was named in her memory with Robert Wilson as our first Executive Director who has since retired.</p>
        </div>
    </div>
</article>
<!-- End About Us Blurb -->

<!-- Parallax -->
<div class="parallax-container">
    <div class="parallax">
        <img src="https://annieshavens.ca/imeages/about-us-parallax-2.jpg" alt="About Us Parallax Image">
    </div>
    <h2 class="flow-text">Providing Foster Care Since 1996</h2>
</div>
<!-- End Parallax -->

<!-- Employees -->
<section id="employees">
    <div class="container">
        <h3>Owners</h3>
        <div class="row">
            <div class="col s12 m6">
                <div class="card hoverable modal-trigger" data-target="modal-wwilson">
                    <div class="card-image">
                        <img src="https://annieshavens.ca/images/william-wilson.jpg" alt="William Wilson">
                        <span class="card-title">William Wilson</span>
                    </div>
                    <div class="card-content">
                        <p>William (Bill) is a co-founder of Annie's Havens and the Ontario Residential Care Association (formerly the Foster Care Operators Association of Ontario). He currently serves as our Executive Director.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card hoverable modal-trigger" data-target="modal-hwilson">
                    <div class="card-image">
                        <img src="https://annieshavens.ca/images/hilda-wilson.jpg" alt="Hilda Wilson">
                        <span class="card-title">Hilda Wilson</span>
                    </div>
                    <div class="card-content">
                        <p>Hilda is a co-founder of Annie's Havens. She has served in many roles such as foster parent, Program Supervisor, Resource Worker and Placement Coordinator for over 20 years.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card hoverable modal-trigger" data-target="modal-cwilson">
                    <div class="card-image">
                        <img src="https://annieshavens.ca/images/chris-wilson.jpg" alt="Chris Wilson">
                        <span class="card-title">Chris Wilson</span>
                    </div>
                    <div class="card-content">
                        <p>Chris has worked with Annie's Havens since 2008 starting as an administrator. He filled in as Acting Executive Director for a period and now serves as our Program Supervisor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="modal-wwilson" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12 m4">
                <img src="https://annieshavens.ca/images/william-wilson.jpg" alt="william wilson" class="circle responsive-img">
            </div>
            <div class="col s12 m8">
                <h4>William Wilson</h4>
                <p>William (Bill) is a co-founder of Annie's Havens and the Ontario Residential Care Association (formerly the Foster Care Operators Association of Ontario). He currently serves as our Executive Director.</p>
                <br><p>His work with the provincial foster care association helped guide policy affecting the child welfare sector. While retired from his position at the association, he still offers advice to other Ontario foster care operators.</p>
                <blockquote>
                    We always need to ask ourselves what kind of care we want for our own children. Then we need to apply those same thoughts to the kids coming into Annie's Havens when they are at their most vulnerable.<br>
                    <span class="right"><em>&mdash; William Wilson</em></span>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div id="modal-hwilson" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12 m4">
                <img src="https://annieshavens.ca/images/hilda-wilson.jpg" alt="hilda wilson" class="circle responsive-img">
            </div>
            <div class="col s12 m8">
                <h4>Hilda Wilson</h4>
                <p>Hilda is a co-founder of Annie's Havens. She has served in many roles such as foster parent, Program Supervisor, Resource Worker and Placement Coordinator for over 20 years.</p>
                <br><p>She spent countless nights at the side of her daughter while she was undergoing numerous medical treatments across southern Ontario. Her steadfastness and knowledge of special needs children is among the top in Ontario's child welfare sector.</p>
                <blockquote>
                    Special needs children need a strong advocate. Services are scarce and if you don't speak loudly and strongly enough then there will be missed opportunities. We must be those advocates every single day.<br>
                    <span class="right"><em>&mdash; Hilda Wilson</em></span>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div id="modal-cwilson" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12 m4">
                <img src="https://annieshavens.ca/images/chris-wilson.jpg" alt="chris wilson" class="circle responsive-img">
            </div>
            <div class="col s12 m8">
                <h4>Chris Wilson</h4>
                <p>Chris has worked with Annie's Havens since 2008 starting as an administrator. He filled in as Acting Executive Director for a period and now serves as our Program Supervisor.</p>
                <br><p>He has had foster brothers and sisters since he was a young boy. Having that sibling relationship with foster children taught him the nuances of what they face. Knowing that children need more than services, that they need real care has always been on the top of his mind.</p>
                <blockquote>
                    Kids in care are still kids. We use so many labels that sometimes we forget that we're dealing with young people who need guidance and love. I'm proud to be a part of Annie's Havens and proud of our loving foster parents.
                    <span class="right"><em>&mdash; Chris Wilson</em></span>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<!-- End Employees -->

<!-- Read More -->
{{> read-more}}
<!-- End Read More -->

{{#section 'script'}}
    <script>
        // Parallax
        const parallax = document.querySelectorAll(".parallax");
        if (parallax.length > 0) {
            M.Parallax.init(parallax, {});
        }

        // Sliders
        const slider = document.querySelector(".slider");
        if (slider) {
            M.Slider.init(slider, {
            indicators: false,
            height: 300,
            duration: 500,
            interval: 6000
            });
        }

        // Modals
        const modals = document.querySelectorAll('.modal');
        M.Modal.init(modals, {});
    </script>
{{/section}}