{{> page-header}}
<div class="container">
    <div class="doc-links">
        <div class="collection with-header">
            <p class="collection-header"><strong>Programs</strong></p>
            <a href="#mainstream" class="collection-item">Mainstream</a>
            <a href="#special-needs" class="collection-item">Special Needs</a>
            <a href="#trauma-focused" class="collection-item">Trauma Focused</a>
        </div>
    </div>
    <div id="mission-statement" class="mission-statement">
        <h3>Mission Statement</h3>
        <p>We have a total commitment to quality and excellence in all that we do. Annie’s Havens will provide a positive growth environment to all children placed in our care.</p>
        <p>To accomplish this we need to consider careful placement of the child, as well as exceptional support and specialized training to our foster parents and staff.</p>
    </div>

    <div id="mainstream" class="card scrollspy">
        <div class="card-image">
            <img src="/images/mainstream-child-1440-548.jpg" alt="happy girl with flower">
            <span class="card-title">Mainstream Program</span>
        </div>
        <div class="card-content">
            <p>All Ontario foster children come into care with some degree of trauma and unique considerations. Part of our training program is devoted to covering some of the expected behaviours and how to cope with those is a supportive lens.</p>
            <br><p>That being said, children in our mainstream program present with far fewer of these unique needs and a low degree of trauma-related behaviours. Mainstream children represent a lower percentage of our foster child group as these children tend to be placed with Children's Aid foster homes, though this is not always the case.</p>
            <br><p>Many of the people looking to become foster parents in Ontario would do well in this category. With in-service training and some time spent caring for special needs and traumatized kids, these parents can <strong>upgrade</strong> their skillset to work with more complex children. The per diem - amount per day, per child given to the foster parent(s) - is $70 - $75 (i.e. two (2) children @ $70/day multiplied by a thirty (30) day month = $4200 - or $51,100 per year).</p>
        </div>
    </div>
    <div class="divider"></div>
    <div id="special-needs" class="card scrollspy">
        <div class="card-image">
            <img src="/images/special-needs-2.jpg" alt="special needs client">
            <span class="card-title">Special Needs Program</span>
        </div>
        <div class="card-content">
            <p>Annie’s Havens began as a foster care agency specifically helping children with developmental and medical special needs. We have branched out in recent years to provide care for a broader spectrum of children.</p>
            <br><p>Special needs children and youth still remain at the core of why we are involved in the child welfare sector. Our special needs foster homes have a phenomenal reputation. We continue to receive several referrals each week for children with developmental/physical challenges and medical issues.</p>
            <br>
            <p>It is difficult to find homes for special needs children. These children need committed caregivers with experience. We have a great training program but experience is key to understanding the issues involved.
            <br><p>Helpful backgrounds include nursing, personal support work or caring for a close family member. Annie’s Havens also provides Personal Support Workers (PSW) for kids with higher care needs. Support hours range from 15 to 60 hours per month. The per diem is $80 - $90 depending on experience, education and wheelchair accessibility (i.e. two (2) children @ $80/day multiplied by a thirty (30) day month = $4800 - or $58,400 per year).</p>
            <br>
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header"><p>Spectrum of Special Needs</p><i class="collapsible-secondary material-icons">arrow_drop_down</i></div>
                    <div class="collapsible-body">
                        <ul>
                            <li>Mobility issues (wheelchair, walker, etc.)</li>
                            <li>Autism Spectrum Disorder</li>
                            <li>Global Developmental Delays</li>
                            <li>Tube/Intravenous Feeding (G-Tube, TPN)</li>
                            <li>Medically Fragile</li>
                            <li>Palliative Care</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Experience with Special Needs<i class="collapsible-secondary material-icons">arrow_drop_down</i></div>
                    <div class="collapsible-body">
                        <p>Often it's asked, "Do I need to have knowledge in all special needs?". No. It is not expected that parents be a “Swiss army knife” catering to all needs. Most referrals are for children
                            with autism and mobility issues. A therapeutic background in autism is an asset for kids with ASD. Wheelchair
                            accessible homes are required for kids with mobility issues. All other issues are discussed during recruitment
                            and in the home study. Kids who are medically fragile or palliative are the most difficult. They require
                            a massive commitment as they are frequently hospitalized.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Support Staff<i class="collapsible-secondary material-icons">arrow_drop_down</i></div>
                    <div class="collapsible-body">
                        <p>Not all kids need support staff. Support is provided depending on how much intervention is needed for daily care.
                            An 8-year old needs diaper changes and is unable to feed herself would have a PSW, for example. Another example,
                            a 6-year old is developmentally delayed and needs help picking out his clothes and getting ready for school
                            would not have a PSW. There are other factors as well which are not covered in these examples.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Adoption and Long-Term Care<i class="collapsible-secondary material-icons">arrow_drop_down</i></div>
                    <div class="collapsible-body">
                        <p>Adoption takes a long time for special needs kids. The more severe the special needs, the longer it takes. Finding
                            adoptive parents is not realistic for some of our kids. Foster parents need to be prepared to care for the
                            kids over a much longer period of time than others.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="divider"></div>
    <div id="trauma-focused" class="card scrollspy">
        <div class="card-image">
            <img src="/images/trauma-2.jpg" alt="trauma client">
            <span class="card-title">Trauma Focused Program by Safe Harbours Family Treatment Homes</span>
        </div>
        <div class="card-content">
            <p>There has been a significant increase in the need for trauma focused foster homes in the past several years. These trauma focused foster homes have foster parents with a background in either child psychology, behavioural therapy or a diploma from an accredited Child and Youth Worker program.</p>
            <br><p>Specialized training is provided
                before the home is licensed and ongoing through in-service sessions. Children with a traumatic life experiences
                can be difficult to manage and come with exceptional needs. Trauma focused foster homes receive a premium
                on their per diem to reflect the added time and training that is needed to serve these children and youth. Additional support if given through staffing which may be provided depending on the requirements of the child or youth.</p>
            <br>
            <p>The per diem is $75 - $90 depending on experience, education and placement stability (i.e. two (2) children @ $90/day multiplied by a thirty (30) day month = $5400 - or $65,700 per year).</p>
            <br><p>To learn more about the Safe Harbours Family Treatment Homes program, please visit <a href="https://safeharbours.ca" target="_blank">safeharbours.ca</a></p>
            <br>
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header">Expected Behaviours<i class="collapsible-secondary material-icons">arrow_drop_down</i></div>
                    <div class="collapsible-body">
                        <ul>
                            <li>Oppositional Defiance Disorder</li>
                            <li>Conduct Disorder</li>
                            <li>Obsessive Compulsive Disorder</li>
                            <li>Fetal Alcohol Spectrum Disorder</li>
                            <li>Post-Traumatic Stress Disorder</li>
                            <li>Drug Abuse</li>
                            <li>Alcohol Abuse</li>
                            <li>Encounters with Law Enforcement</li>
                            <li>Absence Without Leave (AWOL)</li>
                            <li>Stealing</li>
                            <li>Lying</li>
                            <li>Hoarding</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Support for Children and Youth<i class="collapsible-secondary material-icons">arrow_drop_down</i></div>
                    <div class="collapsible-body">
                        <p>The first goal will be for the youth to be enrolled in school and speak with any relevant special needs staff
                            at the school board. In parallel to school enrolment, a request will be sent to a community mental health
                            agency to access their services. An preliminary assessment on the support needs of the youth will be completed
                            within seven (7) days of placement to determine if any additional support is needed in the home. Additional
                            support may consist of:</p>
                        <br>
                        <ul>
                            <li>Child and Youth Workers</li>
                            <li>Funding for Immediate Psychological Services</li>
                            <li>Access to Community Support Programs (Drug Counsellors, etc.)</li>
                            <li>Educational Tutors</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Violence and Personal Safety<i class="collapsible-secondary material-icons">arrow_drop_down</i></div>
                    <div class="collapsible-body">
                        <p>Annie’s Havens will do it’s best to screen for youth who have a history of violence. If a youth placed in your
                            home begins to threaten the safety of the people in the home or in the community, a request will be sent
                            to Children’s Aid to find a more suitable placement (preferably a specialized group home). Time must be given
                            for Children’s Aid to find another appropriate placement UNLESS there is a clear and immediate threat – in
                            this case, call police and the youth will not be returning to the home. As hard as it is to call police on
                            a youth who has experienced severe trauma, we must always keep ourselves safe and feel secure in our own
                            homes.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

{{!-- Read More --}}
{{> read-more}}
{{!-- End Read More --}}

{{#section 'script'}}
    <script>
        // Scrollspy
        const scrollspy = document.querySelectorAll(".scrollspy");
        M.ScrollSpy.init(scrollspy, {
            scrollOffset: 70,
            activeClass: 'blue-grey darken-2 white-text'
        });

        // Collapsibles
        const collapsibles = document.querySelectorAll('.collapsible');
        M.Collapsible.init(collapsibles, {});
    </script>
{{/section}}