{{> page-header}}
<section class="container">
    <p>In 2014, the 44 Children’s Aid Societies across Ontario completed 81,048 investigations completed regarding child abuse or neglect allegations. That same year (2013 – 2014) there were an average of 15,895 children and youth in the care of Children’s Aid either with their own foster homes or through private foster/group care operators such as Annie’s Havens.</p>
    <br>
    <p>Aboriginal and black populations are by far overrepresented in the child welfare system which means that number of children from these communities is much higher per capita in comparison to others. This fact his historical significance for Aboriginal people and we must be focused on making sure minorities are able to leave foster care with their heritage, culture and religion intact.</p>
    <br>
    <p>Recently, the Government of Ontario has committed to extending the cutoff age of youth in care from 18 to 21. This has been achieved through the incredible work of the youth and staff of the Office of the Provincial Advocate for Children and Youth. This means that these youth still have a lifeline while seeking education and developing life skills after high school. At the other end of the age sprectrum, children can enter care at birth when there is concern for the safety of the infant.</p>
</section>

<!-- Read More -->
{{> read-more}}
<!-- End Read More -->