{{> page-header}}
<div class="container">
    <div class="doc-links">
        <div class="collection with-header">
            <p class="collection-header"><strong>Family Members</strong></p>
            <a href="#spouse" class="collection-item">Spouse</a>
            <a href="#children" class="collection-item">Children</a>
            <a href="#extended-family" class="collection-item">Extended Family</a>
            <a href="#read-more" class="collection-item">Read More</a>
        </div>
    </div>
    <div id="spouse" class="card scrollspy">
        <div class="card-content">
            <span class="card-title">Spouse</span>
            <p>Having a spouse or a partner is not an absolute requirement. That being said, foster parenting can take up a lot of time and can be emotionally draining. If you are single and are committed to fostering a quick self evaluation is helpful (flexible work schedule, few committments for time, strong relationships with friends and family to lean on, etc.). For those who have a spouse or partner, does your partner share the same commitment to fostering, have an open heart and ready to help out in the same way as with your own children? Both single parents and couples can be excellent on the same level and during the evaluation period the strength of each family will be assessed to maximize compatibilty with children needing care. Opposite to that if, as a couple, fostering will be “your thing” or you both have time commitments or find that you never have free time already – fostering is not a good option for yourselves or the children.</p>
        </div>
    </div>
    <div id="children" class="card scrollspy">
        <div class="card-content">
            <span class="card-title">Children</span>
            <p>For many people wanting to become a foster parent there are always concerns about the effect on their own children and what role they will play. For a family with very young children it is recommended to wait a few years until their children have self care skills such as dressing themselves, toilet training and cleaning up after themselves as well as communication skills which will allow them to express their feelings to peer and their parents. This is important because is many cases, even if a child comes to your home at age 6, they may be emotionally or developmentally behind which will require a lot of attention that you don’t want to be juggling with very young children of your own.</p>
            <p>Older children can be a fantastic help, especially when the child in care is around the same age. They can play games together, learn from each other and for your own child it can give him or her a unqiue perspective on life and how fortunate to be in a strong and loving family. While there may be times where everything may not be perfect it is important to remember that a foster home works together to resolve issues and in the end, be stronger for it.</p>
            <p>Teenage or adult children can lend a helping hand where appropriate. While those under 18 cannot be left home alone with foster children they can keep an eye on younger ones while preparing a meal or other household chores. You children living at home who are over 18 can do babysitting (money is provided by Annie’s Havens for this) or can drive them to a visit with their family.</p>
        </div>
    </div>
    <div id="extended-family" class="card scrollspy">
        <div class="card-content">
            <span class="card-title">Extended Family</span>
            <p>Aunts, uncles, parents, brothers and sisters can all lend a hand (with proper background checks). Actually, it is encouraged that while respecting the child’s privacy (reason for coming into care or other specifics) the extended family can play an important part in making a child feel welcomed.</p>
        </div>
    </div>
</div>

{{!-- Read More --}}
{{> read-more}}

{{#section 'script'}}
    <script>
        // Scrollspy
        const scrollspy = document.querySelectorAll(".scrollspy");
        M.ScrollSpy.init(scrollspy, {
            scrollOffset: 70
        });
    </script>
{{/section}}