{{> page-header}}
<section class="container">
    <p>There is a comprehensive process to becoming a foster parent. Many people have good hearts and want to help children
        in need – it is our duty to those children that we ensure they are cared for in a safe, stable and competent environment.
        Below are some of the most common questions asked by potential foster parents. Due to the high needs of the children with Annie's Havens, only couples with a special needs life experience are accepted.</p>
    <p>A major topic for most people is how will fostering affect their family. Click on <a href="/foster-parenting/family-involvement">this link</a> to learn more on this subject.</p>

    <div class="divider"></div>

    <ul class="collapsible">
        <li class="active">
            <div class="collapsible-header">
                <p>What’s the difference between fostering with CAS and Annie’s Havens?</p>
                <i class="collapsible-secondary material-icons">arrow_drop_down</i>
            </div>
            <div class="collapsible-body">
                <p>Both the CAS and Annie’s Havens are licensed by the Ministry of Children and Youth Services on an annual
                    basis using the same criteria. CAS has other responsiblities such as providing direct services to families
                    in distress where there is no immediate protection concerns.</p>
                <p>Support for the children and the foster families by CAS is structured somewhat differently from Annie’s Havens
                    depending on which region the Society is located.</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header">What if I’m single?
                <i class="collapsible-secondary material-icons">arrow_drop_down</i>
            </div>
            <div class="collapsible-body">
                <p>Annie's Havens does have single parent foster homes, however, our policy on accepting new single parent homes changed in 2019. This was due to the generally high needs of the children in our care. There are severe time commitments for many of our kids. That being said, even couples need to meet a strong benchmark on mutual support and overlap of roles.</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header">Can same sex couples foster?
                <i class="collapsible-secondary material-icons">arrow_drop_down</i>
            </div>
            <div class="collapsible-body">
                <p>Of course! There was a highly undeserved stigma many years ago. Same sex couples are every bit as good at
                    caring for children – it is sad that it took the child welfare system so long to realize it. In fact, we try
                    our best to match LGBTQ2S kids with same sex couples.</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header">Do you try and match kids based on race and ethnicity?
                <i class="collapsible-secondary material-icons">arrow_drop_down</i>
            </div>
            <div class="collapsible-body">
                <p>We do. It can be difficult due to the lack of people willing to be foster parents. That being said, almost
                    all our kids are matched according to the racial/ethnic background.</p>
            </div>
        </li>
        <li>
            <div class="collapsible-header">How much are foster parents paid?
                <i class="collapsible-secondary material-icons">arrow_drop_down</i>
            </div>
            <div class="collapsible-body">
                <p>Foster parents are not “paid” in the tradition use of the word. There is a daily amount of money provided per child (aka “per diem”) to cover
                    expenses related to the kids. The per diem is not a replacement for steady income. Foster kids come and
                    go and the per diem is only paid when the kids are living at your home. Parents must be able to show
                    they will not need to depend on the per diem to maintain their finances. That being said, there is a
                    portion of the per diem related to “foster parent commitment” which varies depending on the agency you
                    are with as foster parents.</p>
                    <p>Annie’s Havens parents receive $80-$85 depending on relevant education, experience and extra supports required. For example,
                    2 kids in a 30 day month at $85 per diem would receive $5100 – this pays for clothing, food, daily hygiene
                    products, contribution to household costs, etc.</p>
            </div>
        </li>
        </li>
        <li>
            <div class="collapsible-header">How many kids can we foster?
                <i class="collapsible-secondary material-icons">arrow_drop_down</i>
            </div>
            <div class="collapsible-body">
                <p>The Ministry of Children and Youth Services limit the number of children in a home to 4. However, physical
                    space may further limit the number of children or other factors such as other legal children in the home.</p>
            </div>
        </li>
        </li>
        <li>
            <div class="collapsible-header">What if my foster child needs medical devices?
                <i class="collapsible-secondary material-icons">arrow_drop_down</i>
            </div>
            <div class="collapsible-body">
                <p>Any major cost such as dental work, prescription medication, medical devices are paid for by Children’s Aid
                    either directly or via reimbursement.</p>
            </div>
        </li>
        </li>
        <li>
            <div class="collapsible-header">We’ve been thinking about fostering for years. Can we start right away?
                <i class="collapsible-secondary material-icons">arrow_drop_down</i>
            </div>
            <div class="collapsible-body">
                <p>We can start the application process quickly. It takes time for background checks to be processed, completion
                    of a home study and orientation training. If paperwork is returned to Annie’s Havens quickly and your
                    schedule is flexible it can take as little as 2-months to open your home for placement consideration.
                    Parents who have lived in different areas and have time constraints around training will take longer
                    – no more than 3-months is our goal.</p>
            </div>
        </li>
    </ul>

    <div class="divider"></div>

    <div class="card">
        <div class="card-content">
            <strong>Have a question which hasn't been answered or you want more detail? Submit your question below.</strong>
            <p class="disclaimer-text">We only use your name and email to respond to your question. You will not be put on a mailing list, your information
                will not be giver to any 3rd parties and your data will not be used in any other ways than described.
            </p>
            <form id="faq-form" class="faq-form">
                <div class="row">
                    <div class="input-field col s12 m6 l3">
                        <input id="first-name" type="text" class="validate">
                        <label for="first-name">First Name</label>
                    </div>
                    <div class="input-field col s12 m6 l3">
                        <input id="last-name" type="text">
                        <label for="last-name">Last Name</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="question-area" class="materialize-textarea"></textarea>
                        <label for="question-area">Question</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-action">
            <button class="g-recaptcha btn-flat" data-sitekey="6LceOl8UAAAAANNkfF5sAahY6MQZ8rBtPEykFIUJ" data-callback="submitFaqForm">
                Submit Your Question
            </button>
        </div>
    </div>
</section>

{{!-- Read More --}}
{{> read-more}}

{{#section 'script'}}
    <script>
        // Collapsibles
        const collapsibles = document.querySelectorAll(".collapsible");
        if (collapsibles.length > 0) {
            M.Collapsible.init(collapsibles, {});
        }

        // FAQ Form
        const faqForm = document.getElementById('faq-form');
        if(faqForm) {
            faqForm.addEventListener('submit', submitFaqForm);
        }

        function submitFaqForm(token) {
            const firstName = faqForm.querySelector('#first-name').value;
            const lastName = faqForm.querySelector('#last-name').value;
            const email = faqForm.querySelector('#email').value;
            const question = faqForm.querySelector('#question-area').value;

            fetch('/foster-parenting/faq', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json, text/plain, */**',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    firstName,
                    lastName,
                    email,
                    question,
                    token
                })
            })
            .then((res) => res.json())
            .then((data) => {
                if(data.success) {
                    faqForm.reset();
                    M.toast({html: 'Your question has been submitted!', displayLength: 5000});
                }
                if(!data.success) {
                    M.toast({html: 'Verification failed. You may be a bot...'});
                }
            })
        }
    </script>
{{/section}}