{{> page-header}}
<section class="container">
    <p>Take this short quiz to quickly see if you qualify to start the application process.</p>
    <p>Please answer truthfully. None of the information you provide in this quiz is used for any purpose other than to pre-screen
        you as an applicant. This helps people who do not qualify from having to go through the application process only
        to be denied several weeks later.</p>
    <p>If you do not submit your answers at the end, we will receive none of your personal information. If you do not qualify
        you will have no option to submit.</p>
    <div class="card">
        <div class="card-content">
            <span class="card-title">Quiz</span>
            <form name="foster-home-quiz">
                <div class="divider"></div>
                <div class="row valign-wrapper">
                    <div class="col s3 m2 xl1">
                        <label>
                            <input class="with-gap" name="crime" data-errorvalue="yes" value="no" type="radio" />
                            <span>No</span>
                        </label>
                        <br>
                        <label>
                            <input class="with-gap" name="crime" data-errorvalue="yes" value="yes" type="radio" />
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="col s9 m10 xl11">
                        <p>Has anyone in your home ever been convicted of a serious crime and/or a crime involving a child?</p>
                    </div>
                </div>
                <div id="crime-error" class="quiz-error">
                    <p>Sorry, we cannot accept homes with residents who have a criminal record.</p>
                </div>
                <div class="divider"></div>
                <div class="row valign-wrapper">
                    <div class="col s3 m2 xl1">
                        <label>
                            <input class="with-gap" name="child-welfare" data-errorvalue="yes" value="no" type="radio" />
                            <span>No</span>
                        </label>
                        <br>
                        <label>
                            <input class="with-gap" name="child-welfare" data-errorvalue="yes" value="yes" type="radio" />
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="col s9 m10 xl11">
                        <p>Has anyone in your home ever been the subject of a child welfare investigation?</p>
                    </div>
                </div>
                <div id="child-welfare-error" class="quiz-error">
                    <p>Warning. Depending on the nature of the investigation and the outcome, you may be ineligible.</p>
                </div>
                <div class="divider"></div>
                <div class="row valign-wrapper">
                    <div class="col s3 m2 xl1">
                        <label>
                            <input class="with-gap" name="smoking" data-errorvalue="yes" value="no" type="radio" />
                            <span>No</span>
                        </label>
                        <br>
                        <label>
                            <input class="with-gap" name="smoking" data-errorvalue="yes" value="yes" type="radio" />
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="col s9 m10 xl11">
                        <p>Do any of the people in your home smoke any recreational products (tobacco, marijuana)?</p>
                    </div>
                </div>
                <div id="smoking-error" class="quiz-error">
                    <p>Sorry, we cannot accept homes with residents who smoke any recreational products.</p>
                </div>
                <div class="divider"></div>
                <div class="row valign-wrapper">
                    <div class="col s3 m2 xl1">
                        <label>
                            <input class="with-gap" name="substance-abuse" data-errorvalue="yes" value="no" type="radio" />
                            <span>No</span>
                        </label>
                        <br>
                        <label>
                            <input class="with-gap" name="substance-abuse" data-errorvalue="yes" value="yes" type="radio" />
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="col s9 m10 xl11">
                        <p>Do any of the people in your home have any active substance abuse issues (alcoholism, drug abuse)?</p>
                    </div>
                </div>
                <div id="substance-abuse-error" class="quiz-error">
                    <p>Sorry, we cannot accept homes with residents who have active substance abuse issues.</p>
                </div>
                <div class="divider"></div>
                <div class="row valign-wrapper">
                    <div class="col s3 m2 xl1">
                        <label>
                            <input class="with-gap" name="health" data-errorvalue="yes" value="no" type="radio" />
                            <span>No</span>
                        </label>
                        <br>
                        <label>
                            <input class="with-gap" name="health" data-errorvalue="yes" value="yes" type="radio" />
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="col s9 m10 xl11">
                        <p>Do any of the people in your home suffer from a contagious health issue for which they are not being
                            treated?
                        </p>
                    </div>
                </div>
                <div id="health-error" class="quiz-error">
                    <p>Sorry, we cannot accept homes with residents who may cause infection.</p>
                </div>
                <div class="divider"></div>
                <div class="row valign-wrapper">
                    <div class="col s3 m2 xl1">
                        <label>
                            <input class="with-gap" name="mental-health" data-errorvalue="yes" value="no" type="radio" />
                            <span>No</span>
                        </label>
                        <br>
                        <label>
                            <input class="with-gap" name="mental-health" data-errorvalue="yes" value="yes" type="radio" />
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="col s9 m10 xl11">
                        <p>Do any of the people in your home suffer from a mental health issue for which they are not being
                            treated?</p>
                    </div>
                </div>
                <div id="mental-health-error" class="quiz-error">
                    <p>Sorry, we cannot accept home with residents who have untreated mental health issues.</p>
                </div>
                <div class="divider"></div>
                <div class="row valign-wrapper">
                    <div class="input-field col s5 m3 xl2">
                        <select name="schedule" data-errorvalue="fixed">
                            <option value="fixed">Fixed</option>
                            <option value="flexible">Flexible</option>
                            <option value="open" selected>Open</option>
                        </select>
                        <label>Schedule</label>
                    </div>
                    <div class="col s7 m9 xl10">
                        <p>Is your schedule fixed, flexible or completely open?</p>
                    </div>
                </div>
                <div id="schedule-error" class="quiz-error">
                    <p>Sorry, you must have at least a flexible schedule due to he many appointments and unexpected circumstances which may come up.</p>
                </div>
                <div class="divider"></div>
                <div class="row valign-wrapper">
                    <div class="input-field col s3 m2 xl1">
                        <select name="rooms" data-errorvalue="0">
                            <option value="0">0</option>
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4+</option>
                        </select>
                        <label>Rooms</label>
                    </div>
                    <div class="col s9 m10 xl11">
                        <p>How many empty bedrooms do you have?</p>
                    </div>
                </div>
                <div id="rooms-error" class="quiz-error">
                    <p>Sorry, you must have at least one (1) empty room to become a foster home.</p>
                </div>
                <div class="divider"></div>
                <div class="row valign-wrapper">
                    <div class="input-field col s5 m3 xl2">
                        <select name="house-type" data-errorvalue="condo">
                            <option value="condo">Condo</option>
                            <option value="apartment">Apartment</option>
                            <option value="Townhome">Townhome</option>
                            <option value="Duplex">Duplex</option>
                            <option value="Single" selected>Single</option>
                        </select>
                        <label>Home Type</label>
                    </div>
                    <div class="col s7 m9 xl10">
                        <p>What type of home do you live in?</p>
                    </div>
                </div>
                <div id="house-type-error" class="quiz-error">
                    <p>Warning. Condo units must be no higher than the second floor.</p>
                </div>
                <div class="divider"></div>
                <div class="row valign-wrapper">
                    <div class="col s3 m2 xl1">
                        <label>
                            <input class="with-gap" name="tenants" data-errorvalue="yes" value="no" type="radio" />
                            <span>No</span>
                        </label>
                        <br>
                        <label>
                            <input class="with-gap" name="tenants" data-errorvalue="yes" value="yes" type="radio" />
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="col s9 m10 xl11">
                        <p>Do you have tenants?</p>
                    </div>
                </div>
                <div id="tenants-error" class="quiz-error">
                    <p>Warning. Tenants must be in a separate area of the home that is locked off and has a separate entrance. Common areas such as laundry rooms must be 'dead-bolted'. Tenants must also submit to a Vulnerable Sector Police Check to ensure they have no child or sex-related offences.</p>
                </div>
                <div class="divider"></div>
                <div class="row valign-wrapper">
                    <div class="col s3 m2 xl1">
                        <label>
                            <input class="with-gap" name="post-secondary" data-errorvalue="no" value="no" type="radio" />
                            <span>No</span>
                        </label>
                        <br>
                        <label>
                            <input class="with-gap" name="post-secondary" data-errorvalue="no" value="yes" type="radio" />
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="col s9 m10 xl11">
                        <p>Do you or your partner (if applicable) have any post-secondary education (i.e. college, university)?</p>
                    </div>
                </div>
                <div id="post-secondary-error" class="quiz-error">
                    <p>Sorry, we expect at least one foster parent to have some post-secondary education.</p>
                </div>
                <div class="divider"></div>
                <div class="row valign-wrapper">
                    <div class="col s3 m2 xl1">
                        <label>
                            <input class="with-gap" name="computer" data-errorvalue="no" value="no" type="radio" />
                            <span>No</span>
                        </label>
                        <br>
                        <label>
                            <input class="with-gap" name="computer" data-errorvalue="no" value="yes" type="radio" />
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="col s9 m10 xl11">
                        <p>Do you feel comfortable using a computer?</p>
                    </div>
                </div>
                <div id="computer-error" class="quiz-error">
                    <p>Sorry, there are a lot of forms which must be submitted online and use of the web and other internet technologies is a requirement.</p>
                </div>
                <div class="divider"></div>
                <div class="row valign-wrapper">
                    <div class="col s3 m2 xl1">
                        <label>
                            <input class="with-gap" name="drivers-license" data-errorvalue="no" value="no" type="radio" />
                            <span>No</span>
                        </label>
                        <br>
                        <label>
                            <input class="with-gap" name="drivers-license" data-errorvalue="no" value="yes" type="radio" />
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="col s9 m10 xl11">
                        <p>Do you have a valid G Driver’s License?</p>
                    </div>
                </div>
                <div id="drivers-license-error" class="quiz-error">
                    <p>Sorry, you need to have a valid G driver's license to be able to take children and youth to distant appointments.</p>
                </div>
                <div class="divider"></div>
                <div class="row valign-wrapper">
                    <div class="col s3 m2 xl1">
                        <label>
                            <input class="with-gap" name="vehicle" data-errorvalue="no" value="no" type="radio" />
                            <span>No</span>
                        </label>
                        <br>
                        <label>
                            <input class="with-gap" name="vehicle" data-errorvalue="no" value="yes" type="radio" />
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="col s9 m10 xl11">
                        <p>Do you have 24-hours, 7-days a week access to a vehicle?</p>
                    </div>
                </div>
                <div id="vehicle-error" class="quiz-error">
                    <p>Sorry, you need to have consistent access to a vehicle in care of an urgent travel need.</p>
                </div>
                <div class="divider"></div>
                <div class="row valign-wrapper">
                    <div class="col s3 m2 xl1">
                        <label>
                            <input class="with-gap" name="care-direction" data-errorvalue="no" value="no" type="radio" />
                            <span>No</span>
                        </label>
                        <br>
                        <label>
                            <input class="with-gap" name="care-direction" data-errorvalue="no" value="yes" type="radio" />
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="col s9 m10 xl11">
                        <p>Do you feel you could accept direction on caring for a child even if you disagree?</p>
                    </div>
                </div>
                <div id="care-direction-error" class="quiz-error">
                    <p>Sorry, foster parents become a central part of a care team but must work as a positive and compliant team member.</p>
                </div>
            </form>
        </div>
        <div class="card-action">
            <a href="/contact-us#contact" class="btn-flat grey-text text-darken-4 waves-effect">Continue</a>
        </div>
    </div>
</section>

{{!-- Read More --}}
{{> read-more}}

{{#section 'script'}}
    <script>
        function toggleQuizError(formRef, question, errorValue) {
            const qSelector = `#${question.name}-error`;
            const errorRef = formRef.querySelector(qSelector);
            if(question.value === errorValue) {
                errorRef.style.display = "block";
                setTimeout(() => {
                errorRef.style.opacity = "1";
                }, 1);
            } else {
                errorRef.style.opacity = "0";
                setTimeout(() => {
                errorRef.style.display = "none";
                }, 400);
            }
        }

        // Foster Home Quiz
        const fosterHomeQuiz = document.forms['foster-home-quiz'];
        if(fosterHomeQuiz) {
            quizState = {};
            fosterHomeQuiz.addEventListener('change', function(event) {
            const field = event.target;
            const qErrorVal = field.dataset.errorvalue;
            toggleQuizError(fosterHomeQuiz, field, qErrorVal);
            // This doesn't work with radio fields
            for(let i=0; i<fosterHomeQuiz.length; i++) {
                quizState[fosterHomeQuiz.elements[i].name] = fosterHomeQuiz.elements[i].value;
            }
            console.log(quizState);
            });
        }

        // Select Fields
        const selectFields = document.querySelectorAll('select');
        if (selectFields) {
            M.FormSelect.init(selectFields, {});
        }
    </script>
{{/section}}