{{> page-header}}
<section class="container">
    <div class="foster-care-summary">
        <p>The Ontario foster care system is quite different from most other provinces. The government, <a href="http://www.children.gov.on.ca/" target="_blank">Ministry of Children and Youth Services (MCYS)</a>, sets the rules for how foster care is to be carried out. MCYS does not, however, have the role of helping people in becoming a foster parent in Ontario.
        <br>This task is left to agencies which have a license to provide foster care such as Annie's Havens or a local Children's Aid Society. The MCYS visits each agency every year to make sure that we are following the rules.</p>
        <br><p>The difference between what a foster care agency does and what a Children's Aid Society is responsible for can be a bit confusing. We both open and maintain foster homes but the Children's Aid Society has the added responsibility of investigating complaints, handling adoptions and more.</p>
        <br><p>Below is an deeper look at the roles and responsbilities for the MCYS, Children's Aid and Annie's Havens.</p>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="https://firebasestorage.googleapis.com/v0/b/annies-havens.appspot.com/o/images%2Fqueens-park.jpg?alt=media&token=4c6b54b4-8e4e-4711-829d-8e95f29abbe0" alt="queen's park">
            <span class="card-title">Ministry of Children and Youth Services</span>
        </div>
        <div class="card-content">
            <p>Like many Ministries in the Ontario Government, the Ministry of Children and Youth Services has many jobs to do. For our context, the MCYS makes sure that all foster care licensees (Annie's Havens or Children's Aid) follow a law called the Child, Youth and Family Services Act.</p>
            <br>
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header">Licensing<i class="collapsible-secondary material-icons">arrow_drop_down</i></div>
                    <div class="collapsible-body">
                        <p>In order to open foster homes and accept foster children, agencies need to qualify and have a valid license - think licensed daycare. There are many requirements which must be followed which makes sure that we respect the child in care as an individual, and most importantly, that we have safe and supportive homes.</p>
                        <br><p>This license needs to be renewed annually. If an agency does not follow the rules completely they will get a warning called a "Term and Condition". These warnings are serious and an agency could lose their license if not corrected. For this reason, nost agencies are very strict when it comes to getting paperwork filled out correctly and on time.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Children's Rights<i class="collapsible-secondary material-icons">arrow_drop_down</i></div>
                    <div class="collapsible-body">
                        <p>Ontario follows the <a href="https://www.unicef.ca/en/policy-advocacy-for-children/about-the-convention-on-the-rights-of-the-child" target="_blank">United Nations Convention on the Rights of the Child</a>. Children in Care are read their rights - and responsibilities - frequently. Building a more responsive and accountable foster care system begins with respecting the rights of the child.</p>
                        <br><p>The list of rights is somewhat lengthly. The website for the <a href="https://www.provincialadvocate.on.ca/how-we-help/what-are-my-rights">Ontario Child Advocate</a> has an easy to read breakdown of the rights we are talking about.</p>
                        <p>The MCYS checks that the children are aware of their rights and that they have been reviewed frequently.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Types of Foster Care<i class="collapsible-secondary material-icons">arrow_drop_down</i></div>
                    <div class="collapsible-body">
                        <p>It's generally accepted that there are three levels of care:</p>
                        <br><p>Mainstream or "Regular" Care - Therapeutic Care - Treatment Care</p>
                        <br><p>Annie's Havens provides Mainstream Care <a href="/care-programs#mainstream">(Mainstream Program)</a> for children and youth presenting without complex needs.</p>
                        <br><p>Therapeutic Care <a href="/care-programs#special-needs">(Special Needs Program)</a> is provided for our developmental and medically complex children. Therapeutic Care involves carrying out therapy plans in the same manner a biological or adoptive parent would for their own child.</p>
                        <br><p>Treatment Care <a href="/care-programs#trauma-focused">(Trauma Focused Program)</a> is provided for our children and youth who have experienced severe trauma and need a highly structured support system. Foster parents at this level need to have extensive training and the children are provided a Child and Youth Worker 60-hours per month.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <span class="card-title">Children's Aid</span>
            <p>There a more than 40 Children's Aid Societies in Ontario. They are typically responsible for child welfare in the region they reside (i.e. Durham CAS is responsible for the Durham Region). They are non-profit private organizations who receive direct funding from the MCYS and additional funds through their charity.</p>
            <br><p>When they receive a complaint from the community (i.e. school, neighbour, family member) about the welfare of a child they assess if an investigation is required. If they choose to investigate the outcome could lead to ongoing work with the family to improve the situation or, if there is a safety concern, they may remove the child(ren) from the home.</p>
            <br><p>Children's Aid has their own foster homes and will see if they have an appropriate space for incoming children. If there is no appropriate option, the CAS will refer the child to other agencies such as Annie's Havens. This <em>usually</em> means that the lowest needs children go to CAS foster homes.</p>
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header">Investigations<i class="collapsible-secondary material-icons">arrow_drop_down</i></div>
                    <div class="collapsible-body">
                        <p>In Ontario, the responsibility for child welfare investigations lay with the Children's Aid Societies. As stated above, investigations don't necessarily lead to children being removed from their home.</p>
                        <br><p>Investigations can also happen to foster homes. Sometimes, if an allegation is serious, all foster children may be temporarily placed in other homes until the investigation is complete.</p>
                        <p>While investigations are very stressful and the allegations may be false, it is important for Children's Aid to have this authority to keep children safe.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Guardianship<i class="collapsible-secondary material-icons">arrow_drop_down</i></div>
                    <div class="collapsible-body">
                        <p>Most of the time a Children's Aid will have guardianship of the child in care. This is not always the case but it is most often. Guardianship means that the CAS has to give their support for school placement, medical direction and any other situation where consent is needed and the child is unable to give consent on their own.</p>
                        <br><p>Since the CAS has guardianship, foster parents understand that while they are the primary caregiver, their authority on certain matters is limited.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Foster Care Provision<i class="collapsible-secondary material-icons">arrow_drop_down</i></div>
                    <div class="collapsible-body">
                        <p>Children's Aid has a very highly regarded training program for new foster homes called PRIDE (Parent Resources for Information, Development and Education). They are the sole license holders for this training in Ontario outside of adoption. It is approximately 40+ hours of course material.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Adoptions<i class="collapsible-secondary material-icons">arrow_drop_down</i></div>
                    <div class="collapsible-body">
                        <p>There are private adoption agencies in Ontario. All public adoptions are carried out by the Children's Aid Societies. This means that all foster children who are elligible for adoption have their adoption handled by their CAS.</p>
                        <br><p>Annie's Havens foster parents can adopt their foster children too and many have done so. The adoption is done through CAS even though our parents are fostering for our agency.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="https://firebasestorage.googleapis.com/v0/b/annies-havens.appspot.com/o/images%2Fspecial-needs-group.jpg?alt=media&token=a1609155-eb23-4bae-a8db-2e5c201bc3e2" alt="group of special needs clients">
            <span class="card-title">Annie's Havens</span>
        </div>
        <div class="card-content">
            <p>Our <a href="/care-programs">foster care programs</a> are highly supportive of both the foster parent(s) and the children in care. We have Personal Support Workers and Children and Youth Workers who can help our more complex kids.</p>
            <br><p>Annie's Havens foster homes have been commended year-after-year by both the Ministry of Children and Youth Services and our Children's Aid partners. Recently, we have also significantly increased our "per diem" we can offer to our homes to help offset the increased cost of living in Ontario.</p>
            <br>
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header">Foster Parents<i class="collapsible-secondary material-icons">arrow_drop_down</i></div>
                    <div class="collapsible-body">
                        <p>All foster homes in Ontario who wish to receive placements from a Children's Aid Society must belong to a licensed agency. Becoming a foster parent in Ontario means going through the process of a Home Study, background checks and training. All of this is provided at no cost to the potential foster home.</p>
                        <br><p>Once a foster home is approved, they will begin to receive referral packages from Annie's Havens. These referral packages contain as much information as possible about the child so that the home can make an informed decision to accept the child.</p>
                        <br><p>Our homes also receive funding for 24-days of relief. Relief means the children go to another home for a weekend or we provide a caregiver to come to the foster home while the foster parent(s) go away for rest and relaxation.</p>
                        <p>Explore our <a href="#read-more">"Read More"</a> section of related topics below for more information.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Support Staff<i class="collapsible-secondary material-icons">arrow_drop_down</i></div>
                    <div class="collapsible-body">
                        <p>In some cases, the children referred to Annie's Havens have complex needs which require additional support. We have support staff such as Personal Support Workers and Child and Youth Workers who can work one-on-one with the children. This support is important for children with high medical needs or trauma-based emotional and behavioural issues.</p>
                        <br><p>If needed, we can offer up to 30 hours per month of this additional support or more is there is a specific issue to be addressed.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Resource Workers<i class="collapsible-secondary material-icons">arrow_drop_down</i></div>
                    <div class="collapsible-body">
                        <p>A Resource Worker is a person provided by Annie's Havens to work as a liaison between the foster home and our management team. The Resource Worker will help advocate for school placement, additional supports if needed, attend important meetings and ensure that the home is meeting the requirements of our foster care license.</p>
                        <br><p>Resource Workers are there for the foster parents and the children in their care. If a foster home has had a bad day and needs someone to talk to, their Resource Worker is there to listen.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

{{!-- Read More --}}
{{> read-more}}

{{#section 'script'}}
    <script>
        const collapsibles = document.querySelectorAll('.collapsible');
        M.Collapsible.init(collapsibles, {});
    </script>
{{/section}}