{{> page-header}}
<section class="container">
    <p>Take this short quiz to quickly see if you qualify to start the application process.</p>
    <p>Please answer truthfully. None of the information you provide in this quiz is used for any purpose other than to
        pre-screen
        you as an applicant. This helps people who do not qualify from having to go through the application process
        only
        to be denied several weeks later.</p>
    <p>We do not store any of this information in the quiz. If you do not
        qualify
        you will have no option to submit.</p>
    <br>

    <div class="card">
        <div class="card-content">
            <form name="foster-home-quiz" id="foster-home-quiz" novalidate>

                {{!-- Special needs experience --}}
                <div class="row valign-wrapper quiz-row" data-question="special-needs-experience" data-errorvalue="no"
                    data-severity="note">
                    <div class="col s4 m3 xl2">
                        <label>
                            <input class="with-gap" name="special-needs-experience" value="yes" type="radio" />
                            <span>Yes</span>
                        </label>
                        <br>
                        <label>
                            <input class="with-gap" name="special-needs-experience" value="no" type="radio" />
                            <span>No</span>
                        </label>
                    </div>
                    <div class="col s8 m9 xl10">
                        <p>
                            Do you have experience supporting children or adults with special needs,
                            or are you open to learning with training and support?
                        </p>
                    </div>
                </div>
                <div id="special-needs-experience-error" class="quiz-error">
                    <p>
                        Prior experience is an asset, particularly for higher-needs placements.
                        Homes without experience may still be considered, though placement options
                        may be more limited initially.
                    </p>
                </div>

                <div class="divider"></div>

                {{!-- Criminal history --}}
                <div class="row valign-wrapper quiz-row" data-question="crime" data-errorvalue="yes"
                    data-severity="block">
                    <div class="col s4 m3 xl2">
                        <label>
                            <input class="with-gap" name="crime" value="no" type="radio" />
                            <span>No</span>
                        </label>
                        <br>
                        <label>
                            <input class="with-gap" name="crime" value="yes" type="radio" />
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="col s8 m9 xl10">
                        <p>
                            Is there anything in your household’s criminal history that could affect
                            your ability to pass a Police Broad Record Check?
                        </p>
                    </div>
                </div>
                <div id="crime-error" class="quiz-error">
                    <p>
                        Certain offences may make an applicant ineligible under licensing
                        requirements. If you’re unsure, we recommend contacting us before applying.
                    </p>
                </div>

                <div class="divider"></div>

                {{!-- Child welfare --}}
                <div class="row valign-wrapper quiz-row" data-question="child-welfare" data-errorvalue="yes"
                    data-severity="warn">
                    <div class="col s4 m3 xl2">
                        <label>
                            <input class="with-gap" name="child-welfare" value="no" type="radio" />
                            <span>No</span>
                        </label>
                        <br>
                        <label>
                            <input class="with-gap" name="child-welfare" value="yes" type="radio" />
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="col s8 m9 xl10">
                        <p>
                            Has anyone in your household ever been involved in a child welfare
                            investigation <strong>as a caregiver</strong>?
                        </p>
                    </div>
                </div>
                <div id="child-welfare-error" class="quiz-error">
                    <p>
                        Prior involvement does not automatically disqualify an applicant.
                        Eligibility depends on the nature, outcome, and timing of the situation.
                    </p>
                </div>

                <div class="divider"></div>

                {{!-- Substances / smoking --}}
                <div class="row valign-wrapper quiz-row" data-question="smoking" data-errorvalue="yes"
                    data-severity="block">
                    <div class="col s4 m3 xl2">
                        <label>
                            <input class="with-gap" name="smoking" value="no" type="radio" />
                            <span>No</span>
                        </label>
                        <br>
                        <label>
                            <input class="with-gap" name="smoking" value="yes" type="radio" />
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="col s8 m9 xl10">
                        <p>
                            Are there any substances used in your home (including smoking or vaping)
                            that could affect a child’s health or safety?
                        </p>
                    </div>
                </div>
                <div id="smoking-error" class="quiz-error">
                    <p>
                        Foster homes must meet health and safety standards for children.
                        This may affect eligibility depending on the circumstances.
                    </p>
                </div>

                <div class="divider"></div>

                {{!-- Substance use --}}
                <div class="row valign-wrapper quiz-row" data-question="substance-abuse" data-errorvalue="yes"
                    data-severity="block">
                    <div class="col s4 m3 xl2">
                        <label>
                            <input class="with-gap" name="substance-abuse" value="no" type="radio" />
                            <span>No</span>
                        </label>
                        <br>
                        <label>
                            <input class="with-gap" name="substance-abuse" value="yes" type="radio" />
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="col s8 m9 xl10">
                        <p>
                            Is there anything related to substance use in your household that could
                            impact your ability to safely care for a child?
                        </p>
                    </div>
                </div>
                <div id="substance-abuse-error" class="quiz-error">
                    <p>
                        The safety and stability of the home is essential. Situations that could
                        interfere with caregiving responsibilities may affect eligibility.
                    </p>
                </div>

                <div class="divider"></div>

                {{!-- Health --}}
                <div class="row valign-wrapper quiz-row" data-question="health" data-errorvalue="yes"
                    data-severity="block">
                    <div class="col s4 m3 xl2">
                        <label>
                            <input class="with-gap" name="health" value="no" type="radio" />
                            <span>No</span>
                        </label>
                        <br>
                        <label>
                            <input class="with-gap" name="health" value="yes" type="radio" />
                            <span>Yes</span>
                        </label>
                    </div>
                    <div class="col s8 m9 xl10">
                        <p>
                            Are there any untreated physical or mental health concerns in your
                            household that could interfere with the ability to safely meet
                            caregiving responsibilities?
                        </p>
                    </div>
                </div>
                <div id="health-error" class="quiz-error">
                    <p>
                        Many caregivers live with health conditions. Eligibility depends on whether
                        needs are appropriately managed and the home can safely meet care demands.
                    </p>
                </div>

                <div class="divider"></div>

                {{!-- Schedule --}}
                <div class="row valign-wrapper quiz-row" data-question="schedule" data-errorvalue="fixed"
                    data-severity="block">
                    <div class="input-field col s4 m3 xl2">
                        <select name="schedule">
                            <option value="" disabled selected>Choose one</option>
                            <option value="fixed">Fixed</option>
                            <option value="flexible">Flexible</option>
                            <option value="open">Open</option>
                        </select>
                        <label>Schedule</label>
                    </div>
                    <div class="col s8 m9 xl10">
                        <p>
                            Is your schedule flexible enough to accommodate appointments, school
                            meetings, and unexpected needs?
                        </p>
                    </div>
                </div>
                <div id="schedule-error" class="quiz-error">
                    <p>
                        Foster caregiving requires flexibility to respond to children’s needs and
                        professional obligations.
                    </p>
                </div>

                <div class="divider"></div>

                {{!-- Care direction --}}
                <div class="row valign-wrapper quiz-row" data-question="care-direction" data-errorvalue="no"
                    data-severity="block">
                    <div class="col s4 m3 xl2">
                        <label>
                            <input class="with-gap" name="care-direction" value="yes" type="radio" />
                            <span>Yes</span>
                        </label>
                        <br>
                        <label>
                            <input class="with-gap" name="care-direction" value="no" type="radio" />
                            <span>No</span>
                        </label>
                    </div>
                    <div class="col s8 m9 xl10">
                        <p>
                            Are you able to work collaboratively with a care team and follow care
                            plans, even when you may not fully agree?
                        </p>
                    </div>
                </div>
                <div id="care-direction-error" class="quiz-error">
                    <p>
                        Foster parents are key members of a care team and must be able to
                        collaborate respectfully and consistently.
                    </p>
                </div>

            </form>
        </div>
        <div class="card-action">
            <a id="continueBtn" href="/contact-us" class="btn waves-effect disabled">Continue</a>
        </div>
    </div>
</section>

{{!-- Read More --}}
{{> read-more}}

{{#section 'script'}}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        if (!window.M) return;
        // --- Helpers ---
        function $all(root, selector) { return Array.from(root.querySelectorAll(selector)); }

        function showError(el) {
            if (!el) return;
            el.style.display = "block";
            requestAnimationFrame(() => { el.style.opacity = "1"; });
        }

        function hideError(el) {
            if (!el) return;
            el.style.opacity = "0";
            // match your CSS: transition: opacity 0.4s;
            setTimeout(() => { el.style.display = "none"; }, 400);
        }

        function getFieldValue(form, name) {
            const first = form.elements[name];
            if (!first) return "";

            // Radio group: need checked value
            if (first.type === "radio") {
                const checked = form.querySelector(`input[name="${CSS.escape(name)}"]:checked`);
                return checked ? checked.value : "";
            }

            // Select / text etc.
            return first.value || "";
        }

        function isAnswered(value) {
            return value !== null && value !== undefined && String(value).trim() !== "";
        }

        // --- Main ---
        const form = document.forms["foster-home-quiz"] || document.getElementById("foster-home-quiz");
        if (!form) return;

        // Materialize Select init (scope to this form)
        const selects = form.querySelectorAll("select");
        if (selects.length && window.M?.FormSelect) {
            window.M.FormSelect.init(selects);
        }

        const continueBtn = document.getElementById("continueBtn");

        // Build rules from markup so you only edit HTML
        const rows = $all(form, ".quiz-row[data-question]");
        const rules = rows.map(r => ({
            name: r.dataset.question,
            errorValue: r.dataset.errorvalue,
            severity: (r.dataset.severity || "warn").toLowerCase()
        }));

        // Apply severity classes to each error panel once
        // Expected CSS classes: .quiz-error.is-note / .is-warn / .is-block
        for (const rule of rules) {
            const errorEl = document.getElementById(`${rule.name}-error`);
            if (!errorEl) continue;

            errorEl.classList.add("quiz-error"); // harmless if already present
            errorEl.classList.remove("is-note", "is-warn", "is-block");

            if (rule.severity === "note") errorEl.classList.add("is-note");
            else if (rule.severity === "block") errorEl.classList.add("is-block");
            else errorEl.classList.add("is-warn"); // default
        }

        const fieldNames = rules.map(r => r.name);

        function evaluate() {
            let blocked = false;
            let anyUnanswered = false;

            for (const rule of rules) {
                const value = getFieldValue(form, rule.name);
                const errorEl = document.getElementById(`${rule.name}-error`);

                // Don't show anything until answered
                if (!isAnswered(value)) {
                    anyUnanswered = true;
                    hideError(errorEl);
                    continue;
                }

                if (String(value) === String(rule.errorValue)) {
                    showError(errorEl);
                    if (rule.severity === "block") blocked = true;
                } else {
                    hideError(errorEl);
                }
            }

            // Enable/disable Continue:
            // - Must answer everything
            // - Must not trigger any "block" rules
            const eligibleToContinue = !anyUnanswered && !blocked;

            if (continueBtn) {
                if (eligibleToContinue) {
                    continueBtn.classList.remove("disabled");
                    continueBtn.setAttribute("aria-disabled", "false");
                    continueBtn.tabIndex = 0;
                } else {
                    continueBtn.classList.add("disabled");
                    continueBtn.setAttribute("aria-disabled", "true");
                    continueBtn.tabIndex = -1;
                }
            }
        }

        // Prevent navigating when disabled (anchors can still be clickable)
        if (continueBtn) {
            continueBtn.addEventListener("click", function (e) {
                if (continueBtn.classList.contains("disabled")) {
                    e.preventDefault();
                    e.stopPropagation();
                }
            });
        }

        // Re-evaluate on any change
        form.addEventListener("change", evaluate);
        form.addEventListener("input", evaluate);

        // Initial evaluation (Continue starts disabled)
        evaluate();
    });
</script>
{{/section}}