{{> page-header}}
<section class="container">
    <p><strong>It can seem daunting to start the foster parent application process.</strong></p>
    <br><p>Therefore, look at it as a small series of steps that get you qualified and prepared to accept children into your home. It will feel less overwhelming because you mentally break down the process.</p>
    <br><p>Being better prepared for the challenges facing children coming into care is essential to the application process and orientation training. Most of all, a safe home is also a major point of focus while we move along with the application. When we conduct background checks, the goal is to eliminate (as best as possible) individuals who have a prior history of child protection concerns or criminality.</p>
    <br><p>Here are the main four stages of the application process:</p>
    <ul class="collection">
        <li class="collection-item">Interview / Initial Home Survey</li>
        <li class="collection-item">Complete and Submit Application Documents</li>
        <li class="collection-item">Home Study (Structured Analysis Family Evaluation)</li>
        <li class="collection-item">Training</li>
    </ul>
    <h5>Next Step</h5>
    <p>If you feel that you may be a great foster parent / caregiver, check out our <a href="/foster-parenting/foster-home-quiz">Foster Home Quiz</a>. Another great resource is the "Frequently Asked Questions" section which is helpful for newcomers in the Ontario child welfare sector.</p>
</section>

{{!-- Read More --}}
{{> read-more}}