<!-- Call To Action -->
<section class="cta teal darken-3 white-text">
    <p>Homes Urgently Needed</p>
    <a href="/foster-parenting/foster-home-quiz" class="btn green accent-4">Apply</a>
    <i class="material-icons white-text dismiss">cancel</i>
</section>
<!-- End Call To Action-->

<!-- Carousel -->
<div class="carousel carousel-slider">
    <div class="carousel-item white-text first-carousel-item" href="/programs/trauma-focused.html">
        <div class="carousel-item-box">
            <div class="container">
                <div class="carousel-item-headline">
                    <h2>Ontario Kids in Crisis</h2>
                </div>
                <div class="carousel-item-description">
                    <p class="black-text">Every year more and more children are brought into foster care with severe trauma.</p>
                    <a href="#" class="btn waves-effect yellow grey-text text-darken-4 carousel-action">Explore Trauma and Abuse</a>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-item white-text second-carousel-item lazy" href="/programs/emotional-behavioural.html">
        <div class="carousel-item-box">
            <div class="container">
                <div class="carousel-item-headline">
                    <h2>Nowhere To Go</h2>
                </div>
                <div class="carousel-item-description">
                    <p class="grey-text text-darken-4">Some kids have act out which means most foster homes won't accept them.</p>
                    <a href="#" class="btn waves-effect yellow grey-text text-darken-4 carousel-action">Explore Acting Out Behaviours</a>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-item white-text third-carousel-item lazy" href="/become-a-foster-parent.html">
        <div class="carousel-item-box">
            <div class="container">
                <div class="carousel-item-headline">
                    <h2>Every Child Deserves a Home</h2>
                </div>
                <div class="carousel-item-description">
                    <p class="grey-text text-darken-4">There is a safe and loving home for every child. Learn about foster parenting.</p>
                    <a href="#" class="btn waves-effect yellow grey-text text-darken-4 carousel-action">Explore Becoming a Foster parent</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Carousel -->



<!-- Parallax -->
<!-- <div class="parallax-container">
        <div class="parallax">
            <img src="/images/slider-image-2.jpg" alt="kids mural">
        </div>
    </div> -->
<!-- End Parallax -->

<!-- Quick Agency Info -->
<section class="container tabs-section">
    <div class="row">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Annie's Havens Foster Care Agency</span>
                <p>We have been providing foster care to infants, children and youth since 1996. In that time, we have seen
                    so many children flourish under the care of our foster parents. Kids come into foster care for countless
                    reasons and it's our job to make sure they leave care with the best chances for success. Licenced by
                    the Ministry of Children and Youth Services, we make sure that only the best foster parents are part
                    of our program. High quality homes not only makes for better outcomes, they also
                    <strong>keep our kids safe</strong>. We invite you to learn more about
                    <em>foster care in Ontario</em>, our foster care programs and what it means to be a foster parent. If you
                    have any questions which haven't been answered here,
                    <a href="/contact-us">give us a call or drop us an email</a>.</p>
                <div class="divider"></div>
                <h5 class="tabs-title">Hot Topics</h5>
                <div class="divider"></div>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab">
                            <a href="#foster-home-shortage" class="teal-text text-darken-2">Foster Home Shortage</a>
                        </li>
                        <li class="tab">
                            <a href="#childrens-aid" class="teal-text text-darken-2">Children's Aid</a>
                        </li>
                        <li class="tab">
                            <a href="#requirements" class="teal-text text-darken-2">Requirements</a>
                        </li>
                    </ul>
                </div>
                <div class="card-content grey lighten-4">
                    <div id="foster-home-shortage" class="tab-panel">
                        <div class="row">
                            <div class="col s12 m5 l4">
                                <!-- (1) video wrapper -->
                                <div class="youtube" data-embed="ZTq0bi0vB9s"> 
                                    <!-- (2) the "play" button -->
                                    <div class="play-button"></div> 
                                </div>
                            </div>
                            <div class="col s12 m7 l8">
                                <p>In Ontario today, there are well over 10,000 children in foster care or group homes. There has been
                                    a decline in recent years of people answering the call to open their homes to children in care.
                                    This is creating a tremendous strain on our child welfare system. Current homes are taking on
                                    more children than they'd like or worse, taking on children they aren't prepared to care for
                                    due to their high needs. Other provinces have been facing this problem for far longer. They've
                                    resorted to using motels to 'warehouse' the kids until a foster home is available. This has led
                                    to suicides and kids simply disappearing. We can't let that happen here in Ontario - consider
                                    becoming a foster parent or referring a friend.</p>
                                <br>
                                <p>
                                    <a href="#" class="btn-flat">Read More</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="childrens-aid" class="tab-panel">
                        <div class="row">
                            <div class="col s12 m5 l4">
                                <!-- (1) video wrapper -->
                                <div class="youtube" data-embed="EuPJxWdSzE8"> 
                                    <!-- (2) the "play" button -->
                                    <div class="play-button"></div> 
                                </div>
                            </div>
                            <div class="col s12 m7 l8">
                                <p>Ontario has over 40 Children's Aid Societies (CAS) whose job it is to respond to complaints about
                                children being abused or neglected. Most of the time they try their best to keep kids with their
                                families unless it is absolutely necessary to remove them from their home. Contrary to some people's
                                belief, CAS does not get money for kids coming into the system - their funding is NOT based on
                                each child in care. In fact, it makes more sense financially to help maintain the biological
                                or legal family for as long as possible. CAS also have their own foster homes which are licensed
                                in the exact same manner as an agency like Annie's Havens. The video on this tab gives a quick
                                summary of the difference between CAS and agency foster care. NOTE: From the US but same principles
                                apply.</p>
                        <br>
                        <a href="#" class="btn-flat">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div id="requirements" class="tab-panel">
                        <div class="row">
                            <div class="col s12 m5 l4">
                                <!-- (1) video wrapper -->
                                <div class="youtube" data-embed="mm2iNMzx7Ik"> 
                                    <!-- (2) the "play" button -->
                                    <div class="play-button"></div> 
                                </div>
                            </div>
                            <div class="col s12 m7 l8">
                                <p>Foster parents have received a bad reputation from movies, TV shows and the media in general. "They
                                    only do it for the money...", "They treat the kids worse their own family did...", etc. These
                                    are some of the statements we hear often on social media. It's blatantly false! What is true
                                    is that if any CAS or agency has a low threshold for accepting foster parents then those statements
                                    to become true. Annie's Havens goes above and beyond the requirements of the Ministry of Children
                                    and Youth Services. Year-after-year we are told by all of our CAS partners and the Ministry that
                                    we have some of the very best foster homes they've come across. The video on this tab gives an
                                    overview of one foster parent's experience. Her process is slightly different than Annie's Havnes
                                    so click below for the details on how it works with us.</p>
                                <br>
                                <a href="#" class="btn-flat">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Quick Agency Info -->

<!-- Parallax -->
<div class="parallax-container">
    <div class="parallax">
        <img
            srcset="https://firebasestorage.googleapis.com/v0/b/annies-havens.appspot.com/o/images%2Fslider-image-800w.jpg?alt=media&token=91f1379a-a8d1-47a3-9900-89c0e0d4a84b 800w,
                    https://firebasestorage.googleapis.com/v0/b/annies-havens.appspot.com/o/images%2Fslider-image-1200w.jpg?alt=media&token=ea388176-f6ad-48a9-b856-341fddbec696 1200w,
                    https://firebasestorage.googleapis.com/v0/b/annies-havens.appspot.com/o/images%2Fslider-image-2-2.jpg?alt=media&token=f1abdfe0-af29-4f1c-8e97-3ba5d25fdbf4"
            sizes="(max-width: 800px) 800px,
                    (max-width: 1200px) 1200px,
                    1201px"
            src="https://firebasestorage.googleapis.com/v0/b/annies-havens.appspot.com/o/images%2Fslider-image-1200w.jpg?alt=media&token=ea388176-f6ad-48a9-b856-341fddbec696"
            alt="man holding child">
    </div>
</div>
<!-- End Parallax -->

<!-- Programs At A Glance -->
<section class="container programs-section">
    <h4>Foster Care Programs</h4>
    <div class="program-cards">
        <div class="card hoverable mainstream">
            <div class="card-image">
                <img src="https://firebasestorage.googleapis.com/v0/b/annies-havens.appspot.com/o/images%2Fmainstream-child.jpg?alt=media&token=fbe38b99-df12-45fe-b98f-dce5b6f293d9">
                <span class="card-title">Mainstream</span>
            </div>
            <div class="card-content">
                <p>All kids in care come with some emotional baggage and unique challenges. After all, coming from an unstable home or situation and being placed with strangers will always cause emotional turmoil.</p>
                <br><p>The term 'mainstream' used simply to classify children who do not have any known diagnosis or serious acting-out behaviours.</p>
                <br><p>Fostering mainstream foster children is usually the most straightforward. However, they represent a small portion of the referrals private agencies like Annie's Havens receive.</p>
            </div>
            <span class="vertical-spacer"></span>
        </div>

        <div class="card hoverable special-needs">
            <div class="card-image">
                <img src="https://firebasestorage.googleapis.com/v0/b/annies-havens.appspot.com/o/images%2Fspecial-needs-child.jpg?alt=media&token=27fa210f-f67c-421f-bf26-3cffaf220e54">
                <span class="card-title">Special Needs</span>
            </div>
            <div class="card-content">
                <p>Special needs is a broad term. Foster children in Ontario often have some sort of developmental, physical, or mental health issue.</p>
                <br><p>Foster parents caring for special needs children will need extra training and support.</p>
                <br><p>Annie's Havens is pleased to offer one of the most highly regarded special needs foster care programs in Ontario</p>
                <br><p>Our foster homes are consistently commended for their care and ability to meet the needs of their foster children.</p>
            </div>
            <span class="vertical-spacer"></span>
        </div>
        <div class="card hoverable">
            <div class="card-image">
                <img src="https://firebasestorage.googleapis.com/v0/b/annies-havens.appspot.com/o/images%2Ftrauma-youth.jpg?alt=media&token=aef9d297-843d-475d-8f26-36d726c6f5b9">
                <span class="card-title">Trauma Focused</span>
            </div>
            <div class="card-content trauma-focused">
                <p>The needs for trauma-focused foster homes in Ontario have increased dramatically over the past several years. These homes are in short supply</p>
                <br><p>Children and youth in this program require a high level of understanding, patience and tolerance. Foster parents must complete a trauma-focused curriculum before accepting referrals in this category.</p>
                <br><p>While the challenge is great, so are the rewards. Children who have consistent foster parents who stand by them throughout their time in care can show significant improvements.</p>
            </div>
            <span class="vertical-spacer"></span>
        </div>
    </div>
</section>
<!-- End Programs At A Glance -->

{{#section 'script'}}
    <script>
        // Carousel
        const carousels = document.querySelectorAll(".carousel");
        if (carousels.length > 0) {
            function lazyCarouselSlide(e) {
            if(e.classList.contains('lazy')) {
                e.classList.remove('lazy');
                e.classList.add('load');
            }
            }
            M.Carousel.init(carousels, {
            fullWidth: true,
            indicators: false,
            onCycleTo: lazyCarouselSlide
            });
            var instance = M.Carousel.getInstance(carousels[0]);
            setInterval(() => {
            instance.next();
            }, 8000);
        }

        // Parallax
        const parallax = document.querySelectorAll(".parallax");
        if (parallax.length > 0) {
            M.Parallax.init(parallax, {});
        }

        // Card Tabs
        const tabs = document.querySelectorAll(".tabs");
        if (tabs.length > 0) {
            M.Tabs.init(tabs, {});
        }

        // CTA Dismiss
        const ctaDismiss = document.querySelector(".dismiss");
        if (ctaDismiss) {
            ctaDismiss.addEventListener("click", () => {
            const cta = document.querySelector(".cta");
            const carousel = carousels[0];
            cta.style.visibility = "hidden";
            cta.style.opacity = "0";
            carousel.style.marginTop = "0";
            });
        }

        // YouTube Videos Lazy Loading
        const youtube = document.querySelectorAll('.youtube');
        for(let i=0; i<youtube.length; i++) {
            // thumbnail image source.
            var source = "https://img.youtube.com/vi/"+ youtube[i].dataset.embed +"/hqdefault.jpg";
            var image = new Image();
            image.src = source;
            image.alt = "youtube placeholder image";
            image.addEventListener("load", function() {
            youtube[i].appendChild(image);
            }(i));
            youtube[i].addEventListener('click', function() {
            var iframe = document.createElement("iframe");
            iframe.setAttribute("frameborder", "0");
            iframe.setAttribute("allowfullscreen", "");
            iframe.setAttribute("src", "https://www.youtube.com/embed/"+this.dataset.embed+"?rel=0&showinfo&autoplay=1");
            this.innerHTML = "";
            this.appendChild(iframe);
            });
        }

        // Card Links
        document.querySelector('.mainstream').addEventListener('click', () => {
            window.location.assign('/care-programs#mainstream');
        });
        document.querySelector('.special-needs').addEventListener('click', () => {
            window.location.assign('/care-programs#special-needs');
        });
        document.querySelector('.trauma-focused').addEventListener('click', () => {
            window.location.assign('/care-programs#trauma-focused');
        });
    </script>
{{/section}}