{{> page-header}}
<section class="container">
    <div class="collection">
        <a href="/news/urgent-need-for-foster-parents-in-ontario" class="collection-item">Urgent Need for Foster Parents</a>
    </div>
</section>