{{> page-header}}
<section class="container">
    <p>Annie's Havens is pleased to have the trust of the Children's Aid Societies. We consistently receive referrals from the CASs listed below and occassionally from other organizations outside our service area.</p>
    <div class="collection">
        <a href="http://www.durhamcas.ca" target="_blank" class="collection-item avatar">
            <img src="https://firebasestorage.googleapis.com/v0/b/annies-havens.appspot.com/o/images%2Fdurhamcas-logo.jpg?alt=media&token=386c3f86-fcdf-47ac-82d5-87f94794673f" alt="Durham CAS logo" class="circle">
            <span class="title">Durham Children's Aid Society</span>
            <p>DCAS has been protecting children in the Durham Region community since 1905. They are responsible for providing
                child protection services to children under the age of 18 and their families.</p>
        </a>
        <a href="https://www.facsniagara.on.ca" target="_blank" class="collection-item avatar">
            <img src="https://firebasestorage.googleapis.com/v0/b/annies-havens.appspot.com/o/images%2Ffacs-niagara-logo.jpg?alt=media&token=5041e20b-5795-400e-b25c-db99faeb4190" alt="Family and Children's Services Niagara" class="circle">
            <span class="title">Family and Children's Services Niagara</span>
            <p>Proud to be a part of the Niagara community since 1898, Family and Children’s Services is among Niagara’s largest
                child and family serving organizations. As a multi-service organization, they offer a wide range of programs
                that protect children, strengthen families and help youth and adults to be the best they can be.</p>
        </a>
        <a href="https://www.facswaterloo.org" target="_blank" class="collection-item avatar">
            <img src="https://firebasestorage.googleapis.com/v0/b/annies-havens.appspot.com/o/images%2Fwaterloofacs-logo.jpg?alt=media&token=0d2aa623-5c72-4801-bd08-3d57975ea463" alt="Family and Children's Services of the Waterloo Region logo" class="circle">
            <span class="title">Family and Children's Services of the Waterloo Region</span>
            <p>As one of 47 Children’s Aid Societies in Ontario, Family & Children's Services of the Waterloo Region responds
                and works together with families, their supports and our communities to prevent harm to children and to protect
                and care for children who have been abused or neglected.</p>
        </a>
        <a href="https://www.hamiltoncas.com" target="_blank" class="collection-item avatar">
            <img src="https://firebasestorage.googleapis.com/v0/b/annies-havens.appspot.com/o/images%2Fhamiltoncas-logo.jpg?alt=media&token=af65c0f9-67b6-46d3-a675-fcdd03621075" alt="Hamilton CAS logo" class="circle">
            <span class="title">Hamilton Children's Aid Society</span>
            <p>HCAS was established in 1894 as a not-for-profit charitable organization focusing on the well-being and protection
                of children.</p>
        </a>
        <a href="https://www.khcas.on.ca" target="_blank" class="collection-item avatar">
            <img src="https://firebasestorage.googleapis.com/v0/b/annies-havens.appspot.com/o/images%2Fkawartha-haliburton-logo.jpg?alt=media&token=cae56efe-8b1f-4897-8f59-5423af5751c9" alt="Kawartha Haliburton Children's Aid Society logo" class="circle">
            <span class="title">Kawartha Haliburton Children's Aid Society</span>
            <p>The KHCAS is a child protection agency mandated under the Child and Family Services Act in Ontario. Their responsibility
                is to protect children from harm or the risk of harm due to neglect and physical, sexual or emotional abuse.</p>
        </a>
        <a href="http://nativechild.org" target="_blank" class="collection-item avatar">
            <img src="https://firebasestorage.googleapis.com/v0/b/annies-havens.appspot.com/o/images%2Fnativechild-logo.jpg?alt=media&token=e35b33ef-a2f0-4a54-9f3b-f392f77b3abd" alt="Native Child and Family Services of Toronto logo" class="circle">
            <span class="title">Native Child and Family Services of Toronto</span>
            <p>NCFST stands as one of the most significant expressions of urban aboriginality. They are proud to be a leader
                in the field of Native human services in Canada.
                <br>They were founded in 1986 by concerned members of Toronto’s Native community.</p>
        </a>
        <a href="https://www.gov.nu.ca/familyservices" target="_blank" class="collection-item avatar">
            <img src="https://firebasestorage.googleapis.com/v0/b/annies-havens.appspot.com/o/images%2Fnunavut-logo.jpg?alt=media&token=53cbb52b-b05f-4dda-9204-22acfba1d9f0" alt="Government of Nunavut logo" class="circle">
            <span class="title">Nunavut Department of Family Services</span>
            <p>The Department of Family Services is responsible for the Income Assistance program, Children and Family Services,
                Career Development Services, and the Poverty Reduction Division.</p>
        </a>
        <a href="https://familyconnexions.ca" target="_blank" class="collection-item avatar">
            <img src="https://firebasestorage.googleapis.com/v0/b/annies-havens.appspot.com/o/images%2Fsimcoe-muskoka-family-connexions-logo.jpg?alt=media&token=7cefcd01-e995-4f79-a0d4-9483d2b60630" alt="Simcoe-Muskoka Family Connexions logo" class="circle">
            <span class="title">Simcoe-Muskoka Family Connexions</span>
            <p>On April 1, 2015, Simcoe Muskoka Family Connexions was launched as a new integrated child and family services
                agency. It is the amalgamated organization of the Simcoe Children’s Aid Society and Family, Youth and Child
                Services of Muskoka.</p>
        </a>
        <a href="http://www.yorkcas.org" target="_blank" class="collection-item avatar">
            <img src="https://firebasestorage.googleapis.com/v0/b/annies-havens.appspot.com/o/images%2Fyork-cas-logo.jpg?alt=media&token=15b91067-5769-421b-9f29-ed40a198a329" alt="York Region Children's Aid Society logo" class="circle">
            <span class="title">York Region Children's Aid Society</span>
            <p>York CAS believes children belong at home with their families and will do everything they can to keep families
                together. They work with parents, caregivers and other community organizations to build safe, strong communities.</p>
        </a>
    </div>
</section>

{{!-- Read More --}}
{{> read-more}}
{{!-- End Read More --}}