{{> page-header}}
<section class="container">
    <p>Annie's Havens has a service area covering over 30,000km<sup>2</sup>. From Woodstock to Peterborough and up to Gravenhurst, we ensure that all of our homes receive the same attention and care across the region. Depending on circumstances, we will look at homes outside our region on a case-by-case basis. Having a well-defined service area allows us to concentrate our resources such as in-home staff support, responsive travel time in case of emergency, and more.</p>
    <div class="service-map">
        <iframe src="https://www.google.com/maps/d/embed?mid=1sUz41EIcBIVlcWBDlqZMw8yJZJjOKm8&ehbc=2E312F" style="border: none" width="80%" height="480"></iframe>
    </div>
</section>

{{!-- Read More --}}
{{> read-more}}