<section class="container">
    <article>
        <h1>Urgent Need for Foster Parents in Ontario</h1>
        <p>Interest in Fostering Declining
    Recent news articles have highlighted the urgent need for foster parents in Ontario. See Foster parents needed in Windsor and Essex, Foster-parent shortage across Canada reaching a crisis point. Many Children's Aid Societies and privately operated foster care agencies are finding it increasingly difficult to attract qualified people. People still call or email to inquire about the process to become a foster parent. The problem is that after speaking with most people, issues come up which preclude or inhibit their ability to foster children. Among the most common issues are:

    Insufficient home size (no spare bedroom)
    Bedroom in the basement (against Ministry regulations)
    Too many children already in the home (especially young children)
    Lack of a driver's license or vehicle
    Prior Children's Aid investigations or criminal record
    Turning down an enthusiastic person can be difficult considering the urgent need for foster parents. Sometimes that person will take the rejection personally. Other times they will make commitments that are very difficult to fulfill such as renovating their home, etc. The frequency of these rejections is increasing and it is hard to put a finger on exactly why this may be happening. Whatever the reasons, we need more people interested in caring for children and youth in the child welfare system. The law of averages would start swinging the pendulum in the right direction with more interest. More applicants would mean there would be a better field of candidates.

    

    A Place for Qualified Parents
    Foster care programs in Ontario serve a wide variety of children with different needs. Some children need foster parents with a deep knowledge of autism. Other children may need an LGTBQ friendly home. Agencies will take on qualified foster parents who can care for 'mainstream' children and also specialize in a field. For instance, Annie's Havens has a great program for developmental and medical needs. If a person is interested in caring for youth with mental health issues, we would defer to another agency. Low interest in foster parenting across Ontario means there are fewer people who can help high needs children.

    Foster parenting isn't easy. Foster parenting isn't impossible. It is a daily challenge that brings with it an amazing sense of reward.

    

    Consequences of the Urgent Need for Foster Parents
    One major shift we are seeing is group care operators opening up homes using a 'foster home' status to get around tighter regulations in that sector. The main benefit for them is that they are able to use employees, exclusively, to care for foster children. They are doing this due to the fact that there is a shortage of foster parents and a ready supply of Child and Youth Workers willing to do the job. Foster parenting is not a job, it is a charitable contribution to our most vulnerable people in society. While we have the upmost respect for Child and Youth Workers, their role is different from that of a parent and it should remain this way. Foster parents provide a consistent caregiver role versus an employee who may leave at any time to pursue other career goals.

    There have also been tragedies such as a group home for high at-risk youth operating as a foster home. The home was burned down and two people perished (see Foster home fire that killed teen, caregiver blamed on bolted door). When we place children and youth with such high needs in an environment that is not designed to meet those needs we are setting them up for failure.

    

    Spread the Word
    Encourage someone you know who would be a great foster parent to contact us to fill this urgent need for foster parents in Ontario. If our program isn't right for them, we will happily let them know of an appropriate agency. Our recruitment is thorough and we take the time to explain the pros and cons. Tell friends at church. Post a message on Facebook. Talk about it at a social event. We need people like you to get the message out. The need for foster parents is real, although it is hidden. Unless you see it on the news, the secret lives of these children in care happen behind closed doors. These children's outcomes will greatly improve with the more people we get involved.</p>
    </article>
</section>