{{> page-header}}
<section class="container">
    <p>In the most basic description, foster parenting is opening your home and your family to children and youth from a non-related family and regulated by the Child, Youth and Family Services Act of Ontario. Fostering is so much more than that though.</p>
    <br><p>Foster parents become a lifeline for children who need a safe and stable environment and the work done with a child can be the most rewarding experience of a lifetime.
    <p>A foster parent goes through background checks, an evaluation and training to ensure that only that safest and most caring homes are able to receive children. Some refer to fostering as a career and this is a clumsy term because a career would imply that foster parents are employees which they are not.</p>
    <br><p>While foster parents must be supervised by a licensed foster care agency and strictly adhere to a set of policies and procedures, they are the front line partner in helping a child overcome a disability, trauma or mental health issue. Most foster parents find their role so important and rewarding that they continue to care for children until they retire. For some, even after retirement they continue to have contact with and participate in the lives of the grown up children that have come and gone from their home.</p>
    <br><p>At times, foster parenting can seem to be the most thankless job in world which unsurprisingly is how regular parenting can feel. The sense of purpose comes from the lives touched and progress made over the years.</p>
    <br><p>Lastly, a good foster parent is a hero for every child who desperately needs one.</p>
</section>

{{!-- Read More --}}
{{> read-more}}