/* Site CSS */
h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 1.5rem 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.2rem 0;
}

.brand-logo {
    display: inline-block;
    height: 100%;
}

.brand-logo>img {
    vertical-align: middle;
    height: 80%;
    margin-right: 0.2rem;
}

* {
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
}

.section-header {
   padding: 2rem 1rem;
}

.section-header h1 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 0;
}

.section-header h2 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0;
}

.card-panel-title {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 6rem 2rem;
}

.section-header p {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0.75rem 0;
    margin: 0;
}

.no-margin-bottom .row .col {
    margin-bottom: 0 !important;
}

.collection-item.list {
    align-items: center;
    display: flex;
}

.collection-item.list > i {
    font-size: 2rem;
    margin-right: 1rem;
}

.carousel {
    margin-top: 5rem;
    transition: margin-top 0.4s ease-in-out;
}

.carousel-item {
    background-position: center;
    background-size: cover;
    position: relative;
}

.carousel-item-box {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.carousel-item-headline {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.carousel-item-headline h2 {
    margin: 0.8rem;
}

.carousel-item-description {
    display: flex;
    flex-flow: row wrap;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
}

.carousel-item-description {  
    padding: 0.5rem 2rem;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase !important;
}

.carousel-item-description .btn {
    margin: 0.5rem;
}

.first-carousel-item {
    background-image: url('/images/sad-boy-2.jpg');
}

.second-carousel-item.load {
    background-image: url('/images/sad-cardboard-face-2.jpg');
}

.third-carousel-item.load {
    background-image: url('/images/happy-father-daughter-dock-2.jpg');
}

.cta {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    box-shadow: inset 0 0 10px #333;
    transition: opacity 0.4s ease-out, visibility 0.4s;
}

.cta .dismiss {
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

.cta p {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-right: 1.5rem;
}

.cta a {
    justify-self: center;
}

.divider {
    margin: 1rem 0 1rem 0;
}

.tabs-section {
    padding-top: 2rem;
}

.parallax-container { 
    max-height: 200px !important;
}

.programs h4 {
    margin-bottom: 1.5rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
}

.program-cards {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

.program-cards .card {
    flex: 1 1 calc(33% - 1rem);
    margin: 0 0.5rem 0 0.5rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.vertical-spacer {
    flex: 1 1 auto;
}

.horizontal-spacer {
    flex: 1 1 auto;
}

.programs-section {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 992px) {
    .carousel-item-description p {
        padding: 0.3rem 1rem 0.3rem 0.5rem;
    }
    
    .program-cards {
        flex-direction: column;
    }

    .program-cards .card {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 1279px) {
    .doc-links {
        display: none;
    }

    .card-title {
        padding: 12px !important;
    }
}

.parallax-container h2 {
    color: white;
    text-align: center;
    padding: 2rem;
    background: rgba(102,124,137,0.8);
    width: 50%;
    height: 50%;
    margin: 3rem auto;
}

article p {
    margin-bottom: 1rem;
}

.video-wrapper {
    text-align: center;
}

.video-wrapper p {
    margin: 0;
    padding: 0;
}

.video-text {
    border-radius: 0 0 6px 6px;
    background: lightgray;
    padding: 0.8rem 0 0.6rem 0;
    margin-top: -0.5rem;
}

.video-title {
    font-weight: 600;
    line-height: 1rem;
}

.video-subtitle {
    font-size: 0.8rem;
    font-style: italic;
}

video {
    width: 100% !important;
    height: auto !important;
    margin-top: 2rem;
    margin-bottom: 0;
    border-radius: 6px 6px 0 0;
}

#read-more {
    margin-top: 1rem;
    padding: 0.5rem 0;
}

.collapsible-header {
    outline:none;
    transition: background 0.4s, color 0.2s;
}

.collapsible li.active .collapsible-header {
    background: #00897b;
    color: white;
}

.mission-statement {
    margin-bottom: 2rem;
}

.doc-links {
    position: fixed;
    left: 0.2rem;
    top: 6rem;
}

.dropdown-trigger {
    outline: none;
}

.my-nav-links {
    margin-right: 2rem;
}

.nav-subheader {
    font-size: 1.2rem !important;
    font-weight: bold !important;
}

.tabs .indicator {
    background: rgb(58,71,78);
}

.faq-form {
    margin-top: 2rem;
}

.disclaimer-text {
    font-size: 0.8rem;
}

.collapsible-header {
    position: relative;
}

.collapsible-secondary {
    position: absolute;
    right: 0;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 2rem;
    left: 2rem;  
  }

.service-map {
    text-align: center;
    margin: 2rem auto;
}

.quiz-error {
    background: rgb(21,149,135);
    color: white;
    box-shadow: 0 2px 4px rgba(255,0,0,0.4);
    border-radius: 4px;
    padding: 0.5rem;
    display: none;
    opacity: 0;
    transition: opacity 0.4s;
    text-align: center;
}

.page-footer img {
    max-width: 100px;
    height: auto;
}

.contact-form {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.contact-card .card-title {
    margin-bottom: 1.5rem !important;
}

.youtube {
    background-color: #000;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}
.youtube img {
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.7;
}
.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #d61f1f;
    box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}
.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#employees .card {
    cursor: pointer;
}

.fb-share-button {
    margin-bottom: 0.3rem;
}

.foster-care-summary {
    margin-bottom: 2rem;
}

.page-header {
    padding: 1rem;
    margin-bottom: 2rem;
}

.page-header h1 {
    margin: 0;
    font-size: 2rem;
}