{{> page-header}}

<section class="container">
  <div class="section-header">
    <h2 class="blue-grey-text text-darken-3">News</h2>
    <p>Stay updated with the latest news and developments in foster care.</p>
  </div>

  <div class="row">
    <!-- Article card -->
    <div class="col s12 m6">
      <div class="card hoverable">
        <div class="card-content">
          <span class="card-title">Urgent Need for Foster Parents</span>
          <p class="grey-text text-darken-4">
            Ontario faces a growing shortage of foster parents. Learn why this is happening and how you can help.
          </p>
        </div>
        <div class="card-action">
          <a href="/news/urgent-need-for-foster-parents-in-ontario" class="btn blue darken-2">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
